
.BtnShow{
  width: 100%;
  display:flex ;
  align-items: center;
  justify-content: center;
  height: min-content;
}

.BtnShow button{
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 30px;
  font-size: 15px;
  font-weight: bolder;
}

.BtnShow button:hover{
  background-color: rgb(58, 58, 58);
  color:white;
}

.Clicked{
  background-color: rgb(58,58,58);
  color:white;
}

.ShowResult{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
}
.ShowResult li{
  /* padding: 10px 0px 10px 0px; */
  width: 100%;
  border: 1px solid;
  margin-top:10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 5px;
}
